@import url('https://fonts.googleapis.com/css2?family=Comme:wght@500&family=Poppins:wght@400;500;600;700;800&family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2d343c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(img/bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        min-height: 70vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #f35200;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

/* carrito */
.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #ffffff;
}

.borrar {
  background-color: #f35200;
  border-radius: 50%;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: 800;
}

.header-txt {
    padding: 0 200px;
    text-align: center;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 16px;
    color: #ecebeb;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #f35200;
    color: #ffffff;
    padding: 13px 35px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 16px;
}

.btn-1:hover {
    background-color: #d74801;
}

/* iconos */
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
}

.icon img {
    width: 30px;
}

/* card de productos */
.products {
    padding: 70px 0 0 0;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 35px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.product img {
    width: 250px;
}

.product h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: #ecebeb;
    margin-bottom: 10px;
}

.precio {
    color: #f35200 !important;
}

.btn-2 {
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #f35200;
    border-radius: 20px;
    color: #ffffff;
}

.btn-2:hover {
    background-color: #f35200;
}

/* footer */
footer div {
    background-color: #58233d;
  }

  footer div p {
    text-align: center;
    color: #ffffff;
  }

  footer div h5 {
    color: #ffffff;
  }

  footer div .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer div .icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
    transition: all 0.8s;
  }

  footer div .icon:hover {
    background-color: #e60073;
    box-shadow: 0 0 20px #e60073;
  }

  footer div .icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
  }

  footer div .icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366;
  }

  footer div .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
  }

  footer div .icon:hover:nth-child(5) {
    background-color: youtube;
    box-shadow: 0 0 20px youtube;
  }

  footer div .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
  }

  footer div svg {
    height: 100%;
  }

  footer div svg circle {
    stroke-dasharray: 150;
    transition: all 0.8s ease-in-out;
  }

  footer div .icon:hover circle {
    stroke-dasharray: 220;
  }

  footer div h5 {
    text-align: center;
    margin: 10px;
  }
  
  footer div p {
    margin-top: 50px;
  }
  
/* responsive */
@media(max-width:991px) {
    .menu{
        padding: 20px;
    }

    .menu label {

        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2d343c;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-txt {
        padding: 0;
    }

    .products {
        padding: 30px;
    }

    .products-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .services {
        padding: 30px;
        margin: 0;
    }

    .services-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}